html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

p {
  font-family: "Arial", sans-serif;
}

.container-fluid {
  height: 100%;
  text-align: center;
}

#particles-js{
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(gold, #b68718);
}

.col {
  text-align: center;
  /* display: block; */
}

.header {
  position: relative;
  text-align: center;
  /* z-index: 1; */
  background-color: transparent;
  height: 100%;
}

.pic {
  text-align: center;
  border-radius: 20px;
  background-color: #003262;
}

#me {
  border-radius: 50%;
  max-width: 90%;
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin: 2vh auto;
  /* margin-top: 40px; */
  /* max-height: 60%; */
}

.words {
  background-color: #003262;
  border-radius: 10px;
  padding: 20px 10px;
}

#myname {
  font-size: 4.5vw;
  font-weight: 700;
  color: gold;
}

.typing {
  max-width: 90%;
  height: 3.5vw;
  font-size: 2.2vw;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #bae2ff;
  border-radius: 10px;
  overflow: hidden;
}

.typed-hero {
  color: #003262;
  font-weight: 500;
}

.typed-cursor {
  /* color: #2f69f5; */
  color: #af8834;
}

@media (max-width: 767.98px) {
  .pic{
    width: 60vw;
    /* margin: auto; */
    margin-left: 20vw;
  }
  .words {
    width: 60vw;
    /* margin: auto; */
    margin-left: 20vw;
  }
  #myname {
    font-size: 6vw;
  }
  .typing {
    height: 3vh;
    font-size: 3.4vw;
  }
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

    .typing {
      height: 2.6vh;
      font-size: 3.4vw;
    }
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/

#main {
  background-color: #003262;
  height: auto;
}

.content {
  width: inherit;
  /* height: 20%; */
  padding-top: 4vh;
  margin: 0;
  /* background-color: #bae2ff; */
  /* background-color: #143043; */
  /* background-color: #003262; */
  /* text-align: center; */
}

.content-4 {
  padding-bottom: 4vh;
}

#main p {
  font-size: 1.5vw;
  font-weight: 500;
  margin: 0 15vw 0 15vw;
  color: white;
}

.heading-in-main {
  color: #f1cf46;
  font-size: 4.5vw;
  font-weight: 500;
  margin-top: 1vh;
}

@media (max-width: 767.98px) {
  .heading-in-main {
    font-size: 5vw;
    margin-top: 4.5em;
  }

  .content {
    padding-top: 1em;
  }

  #main p {
    font-size: 2.8vw;
    margin: 0 10vw 0 10vw;
  }
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

    .heading-in-main {
      margin-top: 5.7em;
      font-size: 6vw;
    }
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/

#footer {
  /* background: #f7f8f9; */
  /* color: #45505b; */
  /* background-color: #bae2ff; */
  background-color: #63c9c9;
  height: auto;
  /* font-size: 14px; */
  /* text-align: center; */
  /* padding: 2vh 0; */
  /* width: 100%; */
}

.footer {

}

h3 {
  font-size: 2.5vw;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 3vh 0 2vh 0;
  margin: 0 0 0 0;
  color: #35373d;
}

#footer p {
  color: #35373d;
}

#feel-free {
  font-size: 1.5vw;
  font-style: italic;
  padding: 0;
  margin: 0 0 0 0;
}

#copyright {
  font-size: 1vw;
}

.social-links {
  margin: 2vh 0;
}

.social-links a {
  font-size: 3vw;
  display: block;
  background: #003262;
  color: #fff;
  line-height: 1;
  padding: 0.2em 0.2em 0.1em 0.2em;
  margin-right: 1vh;
  border-radius: 50%;
  /* text-align: center; */
  /* width: 60px; */
  /* height: 60px; */
  transition: 0.3s;
}

.social-links a:hover {
  /* background: #0678e3; */
  /* color: #fff; */
  background: #C4820F;
  /* background: #d7b43f; */
  color: #003262;
  text-decoration: none;
}

.bxl-github {
  margin-right: 0.01em;
}

.bx-mail-send {
  margin-top: 0.02em;
  margin-right: 0.09em;
  margin-bottom: 0;
}

.bxl-instagram {
  margin-left: 0.005em;
  margin-bottom: 0.01em;
}
.emailme {
  /* padding: 20px; */
  right: 20px;
}

.instagram {
  /* padding-left: 4px; */
  /* padding-top: 0.25em; */
}

.copyright {
  padding-bottom: 0.5vh;
}

@media (max-width: 767.98px) {
  h3 {
    font-size: 4.5vw;
  }
  #feel-free {
    font-size: 2.9vw;
  }
  #copyright {
    font-size: 2.3vw;
  }
  .social-links a {
    font-size: 5vw;
  }
  .bxl-github {
    margin-right: 0em;
    margin-left: 0.04em;
  }
  .bxl-instagram {
    margin-left: 0.018em;
    /* margin-bottom: 0.01em; */
  }
}
